.line-tool-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  line-height: 1;
}

.line-tool-tile {
  --tile-size: 48px;
  flex-basis: var(--tile-size);
  min-width: 0;
  margin-left: -3px;
}

.line-tool-tile .tile {
  font-size: min(
    calc((100vw - 2 * var(--tile-size)) / var(--tile-count)),
    32px
  );
}

.tile.active {
  position: relative;
  z-index: 999 !important;
}

.tile.dragging {
  transition: transform 100ms linear;
  transform: translateY(-5px)
}
