.line-tool-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: clamp(12px, 8vw, 2em);
}

.line-tool-tile {
  aspect-ratio: 1 / 1;
  flex-basis: 40px;
  min-width: 0;
  border: 3px solid var(--darkest);
  background-color: white;
  place-items: center;
  display: grid;
  border-radius: 4px;
  margin-left: -3px;
  box-shadow: 1px 1px 0 black;
  font-family: monospace;
}

.line-tool-tile:hover {
  background-color: var(--lighter);
}

.line-tool-tile.active {
  border-color: orange;
  box-shadow: 1px 1px 0 orange;
  background-color: var(--lighter);
  z-index: 999 !important;
}
