.letter-tile {
  position: relative;
  place-items: center;
  touch-action: none;
  user-select: none;
  cursor: grab;
  transition: transform 150ms ease-out;

  /* TODO: Extract shared tile styles */
  font-family: monospace;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  font-size: 2em;
  border: 3px solid var(--darkest);
  background-color: white;
  box-shadow: 2px 2px 0 black;
  display: grid;
}

@media (hover: hover) {
  .letter-tile:hover {
    background-color: var(--lighter);
  }
}

.letter-tile.dragging {
  transition: none;
  background-color: var(--lighter);
  cursor: grabbing;
  box-shadow: 4px 4px 0 black;
  font-weight: bold;
  z-index: 999;
}
