.letter-tile {
  position: relative;
  font-family: monospace;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  font-size: 2em;
  border: 3px solid black;
  display: grid;
  place-items: center;
  touch-action: none;
  user-select: none;
  cursor: grab;
  background-color: white;
}

.letter-tile:active {
  cursor: grabbing;
}
