.wheel-tool-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(12px, 8vw, 2em);
}

.wheel-boundary {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--lightest);
}

.wheel-tool-tile {
  position: absolute;
  left: 0%;
  top: 100%;

  translate: -50% -50%;
  
  /* General styles */
  aspect-ratio: 1 / 1;
  height: 40px;
  border: 3px solid var(--darkest);
  background-color: white;
  place-items: center;
  display: grid;
  border-radius: 4px;
  margin-left: -3px;
  box-shadow: 1px 1px 0 black;
  font-family: monospace;
}

.wheel-tool-tile:hover {
  background-color: var(--lighter);
}

.wheel-tool-tile.active {
  border-color: orange;
  box-shadow: 1px 1px 0 orange;
  background-color: var(--lighter);
  z-index: 999;
}

.canvas-footer {
  width: 100%;
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.canvas-actions {
  display: flex;
  gap: 12px;
}
