:root {
  --wheel-tile-width: 40px;
  --wheel-outline-width: calc(var(--wheel-tile-width) * 1.33);
}

.wheel-tool-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wheel-boundary {
  position: relative;
  width: 70%;
  max-width: 400px;
  aspect-ratio: 1/1;
}

.wheel-boundary::before {
  content: "";
  position: absolute;
  width: calc(100% - var(--wheel-outline-width));
  aspect-ratio: 1/1;
  border: var(--wheel-outline-width) solid lightgrey;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wheel-tool-tile {
  position: absolute;
  translate: -50% -50%;

  width: var(--wheel-tile-width);
  height: var(--wheel-tile-width);
}

.wheel-tool-tile.active {
  z-index: 999;
}
