.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15vh;
}

.form-label {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 4px;
}

.form input {
  width: 90%;
  border: none;
  border-bottom: 2px solid var(--dark);
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.4em;
  text-transform: uppercase;
  font-family: monospace;
  margin-bottom: 8px;
  caret-color: var(--darkest);
  background-color: inherit;
}

input:focus {
  outline: none;
}
