.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.8em;
  background: var(--darkest);
  transform: translateY(-30%);
  animation: blink 1s steps(1) infinite;
}

.form:focus-within::after {
  display: none;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.form-label {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 4px;
}

.form input {
  position: relative;
  width: 90%;
  border: none;
  border-bottom: 2px solid var(--dark);
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.4em;
  text-transform: uppercase;
  font-family: monospace;
  margin-bottom: 8px;
  caret-color: var(--darkest);
  background-color: inherit;
}

input:focus {
  outline: none;
}
