.floating-tool-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-tool-box {
  container-type: size;
  background-color: var(--lightest);
  border: 1px solid;
  border-color: var(--dark);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  max-width: 500px;
  position: relative;
  border-radius: 4px;
}

.floating-tool-tile {
  width: 40px;
  position: absolute;
  will-change: translate;
}
