.tile-canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.tile-canvas {
  container-type: size;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.tile-canvas .tile {
  position: absolute;
}

#shadow-canvas {
  visibility: hidden;
  background: #7482ff77;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  color: blue;
}
