#root {
  max-width: 1280px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-container {
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  background-color: color-mix(in srgb, cadetblue 20%, transparent);
}

#header {
  height: 64px;
  background-color: color-mix(in srgb, forestgreen 20%, transparent);
}

#canvas {
  gap: 10px;
  flex: 1;
}
