#root {
  text-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
}

#header > .back-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--dark);
}

#header > .back-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#header > .back-button > svg {
  margin-right: 4px;
  width: 16px;
}

h1 {
  font-size: 1.8em;
  margin-block-start: 0.2em;
  margin-block-end: 0.4em;
  font-family: monospace;
  text-transform: lowercase;
}

#tool-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.tool-container {
  height: 95%;
  width: 95%;
}

.tool-container.hidden {
  display: none;
}

.tool-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  padding-bottom: 24px;
}
