:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --darkest: #2d232e;
  --darker: #474448;
  --dark: #534b52;
  --light: #e0ddcf;
  --lighter: #f2f2f2;
  --lighest: #f1f0ea;
}

body {
  margin: 0;
}

#root {
  background-color: var(--lighter);
  color: var(--darkest)
}

a:hover {
  color: var(--darker)
}

button {
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  font-style: italic;
  background-color: white;
  border-color: var(--dark);
  color: var(--darkest);
  box-shadow: 2px 2px 0 black;
}

button:hover {
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--darkest);
}
