/* Global reset / app lock */
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: var(--app-bg);
}

/* App root */
#root {
  height: 100dvh;
  box-sizing: border-box;
  color: var(--darkest);
  max-width: 900px;
  margin: 0 auto;
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
}

/* Global theme + typography */
:root {
  /* Colors */
  --darkest: #2d232e;
  --darker: #474448;
  --dark: #534b52;
  --light: #e0ddcf;
  --lighter: #f2f2f2;
  --lightest: #f7f7f7;
  --highlight: orange;

  /* App background alias */
  --app-bg: var(--lighter);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
@media (hover: hover) {
  a:hover {
    color: var(--darker);
  }
}

/* Buttons */
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 1.1em;
  padding: 8px 12px;
  border-radius: 4px;
  font-style: italic;
  background: white;
  color: var(--darkest);
  border: 1px solid var(--dark);
  box-shadow: 2px 2px 0 black;
}

button > svg {
  margin-left: 6px;
  height: 90%;
}

button.active {
  background: var(--lightest);
  border: 2px solid var(--dark);
  box-shadow: none;
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
    background: var(--lighter);
    color: var(--darkest);
  }
}

/* No selecting text anywhere */
* {
  user-select: none;
  -webkit-user-select: none; /* iOS Safari */
}

/* Base tile styles */
.tile {
  --border-color: var(--darkest);
  --background-color: white;

  display: grid;
  place-items: center;

  aspect-ratio: 1/1;
  font-family: monospace;
  font-size: 32px;
  border-radius: 4px;
  background-color: var(--background-color);
  box-shadow: 2px 2px 0 var(--border-color);
  border: 3px solid var(--border-color);
}

.tile.active {
  --border-color: var(--highlight);
  --background-color: var(--lighter);
}

@media (hover: hover) {
  .tile:hover {
    --background-color: var(--lighter)
  }
}
