.tile-canvas {
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 5vw;
}

/* TODO: refactor shared footer */
.canvas-footer {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.canvas-actions {
  display: flex;
  gap: 12px;
}
