.draggable-tile {
  position: relative;
  touch-action: none;
  user-select: none;
  cursor: grab;
  transition: transform 100ms ease-out;

  height: var(--tile-size);
  width: var(--tile-size);
}

.draggable-tile.dragging {
  transition: none;
  cursor: grabbing;
  background-color: var(--lighter);
  box-shadow: 4px 4px 0 black;
  z-index: 999;
}
